.bloglog{
    width: 100%;
    height: auto;
    /* border: 2px solid orange; */
    margin: 0 auto;
}
.videomaps{
    width: 80%;
    height: auto;
    /* border: 2px solid red; */
    margin: 0 auto;
}