.LessonPage{
    width: 100%;
    min-height: 90vh;
    background-color: white;
}
.lessonkurs{
    width: 90%;
    /* height: 90vh; */
    /* border: 2px solid black; */
    padding: 10px;
    margin: 10px auto;
}
.lessonkurs h1{
    font-size: 30px;
    font-weight: 900;
}
.lessonkurs h2{
    margin: 10px;
}
.lessonkurs p{
    text-indent: 10px;
    line-height: 1.9;
    font-size: 20px;
}
.lessonkurs ul{
    text-indent: 30;
    margin-left: 50px;
}
.commentcss{
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    /* border: 2px solid chartreuse; */
    line-height: 1.9;
    font-family: 'Times New Roman', Times, serif;
}
.commentcss ul{
    margin-left: 50px;
}
.commentcss p{
    padding: 10px;
}
.commentcss span{
    display: inline-block;
    width: 80%;
    height: 80px;
    color: azure;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px;
   
}